<!DOCTYPE html>
<html lang="en">

    <body id="home-page">
        <%- include ('partials/navbar') %>
        <div class="row">
            <p>
                This website is only available during working hours (Monday to Friday, from 9 A.M to 5 P.M)
            </p>
        </div>
        <%- include ('partials/head') %>
    </body>
</html>